{% extends 'class_room/base.html' %}

{% block content %}

<div class="container" style="width: 800px; height: auto; background-color: white;"><br>
    <div class="" style="margin-left: 40px;" id="content">
        <form class="input-field" id="post-form" method="post">
            {% csrf_token %}
            <input type="text" style="color: #5b5a5b; width: 300px; font-size: 30px;" name="title" placeholder="제목을 입력하세요."><br>
            <span style="color: #e0e0e0; font-size: 20px;">{{ user.name }}</span>
            <br><br>
            <textarea name="text" style="color: grey; font-size: 15px; width: 700px; height: 300px;" form="post-form" rows="8" cols="40"></textarea>
            <br><br>
            <button class="btn waves-effect waves-light deep-purple" style="margin-left: 300px;" type="submit" name="action">게시</button>
        </form>
    </div>
    <br>
</div>
<br><br>

{% endblock %}
