{% extends 'class_room/base.html' %}
{% load staticfiles %}

{% block content %}
<br><br><br><br>

<div class="container" style="width: 880px; height: auto; background-color: white;">

    <div class="container" id="image-field">
        <img class="responsive-img circle" src="{{ user.profileImage.url }}" style="width: 200px; height: 200px; position: absolute; left: 50%; margin-left: -100px; top: 100px;">
    </div>

    <div class="container center" id="text-field" style="width: 100%; margin-top;">

        <span style="font-size: 50px; display: inline-block; margin-top: 150px;" class="" id="name">
            {{ user.name }}
        </span>

    </div>

    <div class="container center" id="form-field" style="width: 100%;">

        <form class="input-field center" id="post-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="" id="set-profile" style="margin-left: 120px;">
                <span>프로필 사진 변경 : </span>
                <input type="file" name="profileImage">
            </div>

            <br>

            {% if user.introduce == '' %}
                <textarea name="introduce" value="" placeholder="자기소개를 입력해주세요." style="color: grey; font-size: 15px; width: 500px; height: 100px; border-radius: 5px;" form="post-form" rows="8" cols="40"></textarea>
            {% else %}
                <textarea name="introduce" style="color: grey; font-size: 15px; width: 500px; height: 100px; border-radius: 5px;" form="post-form" rows="8" cols="40">{{ user.introduce }}</textarea>
            {% endif %}
            <br><br>
            <button class="btn waves-effect waves-light deep-purple" type="submit" name="action">변경</button>
            <br><br>
        </form>

    </div>
</div>
<br><br>

<script type="text/javascript">
</script>
{% endblock %}
