{% extends 'class_room/base.html' %}

{% block content %}
<br><br><br><br>
<div class="container" style="width: 800px; height: auto; background-color: white;">

    <div class="container" id="image-field">
        <img class="responsive-img circle" src="{{ me.profileImage.url }}" style="width: 200px; height: 200px; position: absolute; left: 50%; margin-left: -100px; top: 100px;">
    </div>

    <div class="container center" id="text-field" style="width: 100%;">

        <span style="font-size: 50px; display: inline-block; margin-top: 100px;" class="" id="name">
            {{ me.name }}
        </span>

    </div>

    <div class="container center" id="form-field" style="width: 100%;">

        <form class="input-field center" id="post-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="" id="set-profile" style="margin-left: 120px;">
                <span>프로필 사진 변경 : </span>
                <input type="file" name="profileImage" value="">
            </div>

            <br>

            {% if me.introduce == '' %}
                <textarea name="introduce" value="" placeholder="자기소개를 입력해주세요." style="color: grey; font-size: 15px; width: 500px; height: 100px; border-radius: 5px;" form="post-form" rows="8" cols="40"></textarea>
            {% else %}
                <textarea name="introduce" style="color: grey; font-size: 15px; width: 500px; height: 100px; border-radius: 5px;" form="post-form" rows="8" cols="40">{{ me.introduce }}</textarea>
            {% endif %}
            <br><br>
            <button class="btn waves-effect waves-light deep-purple" type="submit" name="action">변경</button>
            <br><br>
        </form>

    </div>
</div>
<br><br>
<div class="container center" style="width: 800px; height: auto; background-color: white;"><br>
    <span style="font-size: 25px;">그룹 요청</span><br><br>

    {% for i in user %}
        <div class="">
            <span class="left" style="margin-left: 60px; font-size: 20px;">{{ i.name }}</span>
            <div class="right" style="margin-right: 30px;">
                <a class="waves-effect waves-light deep-purple btn" href="?pk={{ i.pk }}&accept=1">수락</a>
                <a class="waves-effect waves-light white btn" style="color: black;" href="?pk={{ i.pk }}&accept=0">거절</a>
            </div><br>
        </div><br><br>
    {% endfor %}
</div>
<br><br>
<div class="container center valign-wrapper" style="width: 800px; height: 100px; background-color: white;"><br>
    <a class="valign waves-effect waves-light deep-purple btn" style="margin-left: 350px;" href="/exit_group">그룹 탈퇴</a>
</div>
<br><br>

{% endblock %}
